 apiVersion: v1
  kind: ConfigMap
  metadata:
    name: {{ .Values.nameOverride }}-config
    labels:
      app: {{ .Values.nameOverride }}
  data:
    NEXT_PUBLIC_API_URL: {{ .Values.config.apiUrl | quote }}